<%- include('partials/header.ejs') %>

	<body>

		<div class="container">

			<h1>TESTE DE DEPLOY FRONT-END</h1>

			<a class="btn btn-success btn-lg btn-block" href="http://localhost:3001/read">CREATE</a>
			<a class="btn btn-primary btn-lg btn-block" href="http://localhost:3001/create">READ</a>
			<a class="btn btn-warning btn-lg btn-block" href="http://localhost:3001/update">UPDATE</a>
			<a class="btn btn-danger btn-lg btn-block" href="http://localhost:3001/delete">DELETE</a>

		</div>

	</body>

<%- include('partials/footer.ejs') %>

</html>